openapi: 3.1.0
info:
  title: THC Academy Credential Verification API
  version: 0.1.0
servers:
  - url: https://dtfseeds.com/api/v1
paths:
  /credentials/{verificationId}:
    get:
      summary: Verify a THC Academy credential
      operationId: verifyCredential
      parameters:
        - name: verificationId
          in: path
          required: true
          schema:
            type: string
            minLength: 8
      responses:
        '200':
          description: Credential verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCredentialVerification'
        '404':
          description: Credential not found or not publicly verifiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationError'
components:
  schemas:
    PublicCredentialVerification:
      type: object
      additionalProperties: false
      required:
        - verificationId
        - valid
        - status
        - credential
        - issuer
      properties:
        verificationId:
          type: string
        valid:
          type: boolean
        status:
          type: string
          enum: [test-issued, issued, valid, superseded, expired, revoked]
        credential:
          type: object
          additionalProperties: false
          required: [id, title, version]
          properties:
            id:
              type: string
            title:
              type: string
            version:
              type: string
        issuer:
          type: object
          additionalProperties: false
          required: [name, url]
          properties:
            name:
              type: string
            url:
              type: string
              format: uri
        issuedAt:
          type: string
          format: date-time
          nullable: true
        disclaimer:
          type: string
          nullable: true
    VerificationError:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: string
          enum: [credential_not_found]
